src/main/webapp/wsdl/FileUploadWsdlService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://data.ws.akash.com/schema/fileupload" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://data.ws.akash.com/schema/fileupload" targetNamespace="http://data.ws.akash.com/schema/fileupload">
	<wsdl:types>
		<xsd:schema xmlns:cust="http://data.ws.akash.com/schema/fileupload"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://data.ws.akash.com/schema/fileupload">
			<xsd:element name="FileUploadRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fileContent" type="cust:fileContent" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="fileContent">
				<xsd:sequence>
					<xsd:element name="file" type="xsd:base64Binary"
						xmime:expectedContentTypes="*/*" />
					<xsd:element name="fileName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="FileUploadResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uploadStatus" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FileUploadRequest">
		<wsdl:part element="tns:FileUploadRequest" name="FileUploadRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FileUploadResponse">
		<wsdl:part element="tns:FileUploadResponse" name="FileUploadResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FileUploadWsdlServicePort">
		<wsdl:operation name="FileUpload">
			<wsdl:input message="tns:FileUploadRequest" name="FileUploadRequest"></wsdl:input>
			<wsdl:output message="tns:FileUploadResponse" name="FileUploadResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FileUploadWsdlServicePortSoap11" type="tns:FileUploadWsdlServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FileUpload">
			<soap:operation soapAction="" />
			<wsdl:input name="FileUploadRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="FileUploadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FileUploadWsdlServicePortService">
		<wsdl:port binding="tns:FileUploadWsdlServicePortSoap11"
			name="FileUploadWsdlServicePortSoap11">
			<soap:address location="http://localhost:8080/MySpringWS/endpoints/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>