src/main/webapp/wsdl/UserDetailsService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://reqres.data.ws.akash.com/userdetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://reqres.data.ws.akash.com/userdetails"
	targetNamespace="http://reqres.data.ws.akash.com/userdetails">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://reqres.data.ws.akash.com/userdetails">
			<xsd:element name="UserDetailsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UserData" type="tns:UserData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="UserData">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="UserDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AccountDetails" type="tns:UserDetails" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="UserDetails">
				<xsd:sequence>
					<xsd:element name="userId" type="xsd:string" />
					<xsd:element name="username" type="xsd:string" />
					<xsd:element name="age" type="xsd:int" />
					<xsd:element name="emailId" type="xsd:string" />
					<xsd:element name="userSalary" type="xsd:double" />
					<xsd:element name="userGender" type="tns:UserGender" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="UserGender">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Male" />
					<xsd:enumeration value="Female" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UserDetailsRequest">
		<wsdl:part element="tns:UserDetailsRequest" name="UserDetailsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UserDetailsResponse">
		<wsdl:part element="tns:UserDetailsResponse" name="UserDetailsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UserDetailsServicePort">
		<wsdl:operation name="UserDetails">
			<wsdl:input message="tns:UserDetailsRequest" name="UserDetailsRequest"></wsdl:input>
			<wsdl:output message="tns:UserDetailsResponse" name="UserDetailsResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserDetailsServicePortSoap11" type="tns:UserDetailsServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UserDetails">
			<soap:operation soapAction="" />
			<wsdl:input name="UserDetailsRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UserDetailsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserDetailsServicePortService">
		<wsdl:port binding="tns:UserDetailsServicePortSoap11" name="UserDetailsServicePortSoap11">
			<soap:address location="http://localhost:8080/MySpringWS/endpoints/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>